.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
}

.menu img {
  max-width: 80px;
  height: 75px;
  margin-top: 10px;
  margin-right: 30px;
}

.menu h1 {
  font-family: "Overpass", sans-serif;
  font-size: 38px;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #f8b96b;
}

.actions {
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 365px;
  min-height: 300px;
  background-color: #6a76d6;
  border-radius: 10px;
  padding: 30px 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cards h1 {
  max-width: 285px;
  min-height: 60px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

.cards h3 {
  font-size: 18px;
}

.schedule {
  list-style: none;
}

.schedule li {
  margin-bottom: 20px;
  display: flex;
}

.schedule li span {
  margin-right: 10px;
  align-self: center;
}

.participants-container {
  display: flex;
  justify-content: space-between;
}

.participants {
  display: flex;
}

.participants-names {
  width: 45px;
  height: 45px;
  padding: 12px;
  border-radius: 50%;
  background-color: #f8b96b;
  text-align: center;
}

.icon-more {
  align-self: flex-end;
}
